@font-face {
font-family: StagSansLight;
src: url('https://cai-whichcouk.bsd.net/page/-/Fonts/StagSans-Light.otf') format("opentype");
}
@font-face {
  font-family: StagSansBook;
  src: url('https://cai-whichcouk.bsd.net/page/-/Fonts/StagSans-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}